/* Scaffold */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #212121;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0 0 1.5rem;
}

img {
  vertical-align: middle;
}

/* Typography */

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 0 0 1.5rem;
}

header {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: calc(1rem - 1px);
}

header > h2 {
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1.5rem;
}

header + fieldset > p:first-child {
  padding-top: 1rem;
}

strong {
  font-weight: 600;
}

/* Forms */

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  border: 0;
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
}

label,
.label {
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
}

legend.label {
  margin-bottom: 1.5rem;
}

input[type="email"],
input[type="text"],
select,
textarea {
  background-color: #fff;
  background-image: none;
  border: 0;
  border-bottom: 4px solid #653294;
  border-radius: 0;
  box-shadow: none;
  color: #212121;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
  width: 100%;
}

input[type="email"]:hover,
input[type="text"]:hover,
select:hover,
textarea:hover {
  border-color: #a587c1;
}

input[type="email"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #a587c1;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(165, 135, 193, 0.6);
  outline: 0;
}

select {
  height: 3rem;
  padding-top: 0;
  padding-bottom: 0;
}

.select  {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.select > select {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
          appearance: none;
}

.select ::-ms-expand {
  display: none;
}

.select:after{
  border-top: 0.375rem solid #212121;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  content: "";
  height: 0;
  margin-top: calc(-0.375rem / 2);
  pointer-events: none;
  position: absolute;
  right: 0.625rem;
  top: 50%;
  width: 0;
  z-index: 10;
}

textarea {
  height: 7.5rem;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}

input[type="email"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="checkbox"]::-moz-placeholder,
input[type="radio"]::-moz-placeholder,
input[type="email"]:-ms-placeholder,
input[type="text"]:-ms-placeholder,
select:-ms-placeholder,
textarea:-ms-placeholder,
input[type="checkbox"]:-ms-placeholder,
input[type="radio"]:-ms-placeholder,
input[type="email"]::-webkit-placeholder,
input[type="text"]::-webkit-placeholder,
select::-webkit-placeholder,
textarea::-webkit-placeholder,
input[type="checkbox"]::-webkit-placeholder,
input[type="radio"]::-webkit-placeholder {
  color: #9e9e9e;
  opacity: 1;
}

fieldset > p {
  margin-bottom: 2rem;
}

fieldset > p:last-of-type {
  padding-top: 1rem;
  text-align: center;
}

/* Buttons */

.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 0.6875rem 4rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* Helper */

label.is-required::after,
div.is-required {
  color: #940000;
  font-weight: 600;
  line-height: 1.5rem;
}

label.is-required::after {
  content: "*";
  float: right;
}

/* Questionnaire */

.questionnaire__card {
  background-color: #fafafa;
  border-bottom: 1px solid #e0e0e0;
  padding: 1.5rem 2.5rem;
}

.questionnaire__card:last-child {
  border: 0;
}

.questionnaire__card--disabled {
  pointer-events: none;
  position: relative;
}

.questionnaire__card--disabled::before {
  background-color: #212121;
  bottom: -1px;
  content: " ";
  display: block;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  right: -1px;
  top: -1px;
}

.questionnaire__head {
  color: #653294;
}

.questionnaire__card--disabled > .questionnaire__head {
  color:#a7ada9;
}

.questionnaire__description {
  color: #9e9e9e;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

legend.questionnaire__description {
  margin-bottom: 1.5rem;
}

.questionnaire__multiple-choice {
  margin-bottom: 1.5rem;
}

.questionnaire__multiple-choice > label {
  font-weight: normal;
}

.questionnaire__img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.button--questionnaire {
  background-color: #8e63cc;
  border-color: #6e539d;
  color: #fff;
}

.button--questionnaire:hover,
.button--questionnaire:focus {
  background-color: #a587c1;
}

.button--questionnaire[type="submit"] {
  background-color: #a83676;
  border-color: #7d315a;
}

.button--questionnaire[type="submit"]:hover,
.button--questionnaire[type="submit"]:focus {
  background-color: #f7008b;
}

/* Media queries */

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
    background-image: url("../img/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  label.is-required::after {
    content: "Required";
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  div.is-required {
    display: none;
  }

  .questionnaire {
    display: flex;
    justify-content: center;
  }

  .questionnaire__card {
    border: 1px solid #e0e0e0;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(50, 50, 50, 0.75);
    margin-top: calc(6rem - 1px);
    padding: 3rem 5rem 1.5rem;
    width: 42rem;
  }

  .questionnaire__card:last-child {
    margin-bottom: calc(6rem - 1px);
  }
}
