/**
 * Scaffold
 */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0 0 1.5rem;
}

img {
  vertical-align: middle;
}

.img--responsive {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
    background-image: url("../img/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

/**
 * Typography
 */

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 0 0 1.5rem;
}

h2 > strong {
  font-weight: 600;
}

p {
  margin: 0 0 1.5rem;
}

/**
 * Forms
 */

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

label {
  display: block;
  margin: 0 0 1.5rem;
}

label.is-required::after {
  content: "*";
  color: #940000;
  float: right;
  font-weight: 700;
  line-height: 1.5rem;
}

p.is-required {
  color: #940000;
  font-weight: 700;
}

input[type="email"],
input[type="text"],
select,
textarea {
  background-color: #fff;
  background-image: none;
  border: 0;
  border-bottom: 4px solid #653294;
  box-shadow: none;
  color: #777;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
  width: 100%;
}

input[type="email"]:hover,
input[type="text"]:hover,
textarea:hover {
  border-color: #a587c1;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: $action-color;
  box-shadow: $form-box-shadow-focus;
  outline: none;
  border-color: #a587c1;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(165, 135, 193, 0.6);
  outline: 0;
}

input[type="text"]:disabled {
  color:#000;
}

select {
  border: 1px solid #653294;
  padding: 0.75rem 0.625rem calc(0.75rem + 1px);
}

textarea {
  height: 7.5rem;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}

.form-row {
  margin-bottom: 1.5rem;
}

.form-row--button {
  padding-top: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  label.is-required::after {
    content: "Required";
    font-size: 0.675rem;
    text-transform: uppercase;
  }

  p.is-required {
    display: none;
  }
}

/**
 * Buttons
 */

.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: #8e63cc;
  border: 1px solid #6e539d;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.6875rem 4rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #a587c1;
  color: #fff;
}

/**
 * Questionnaire
 */

.questionnaire__card {
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  padding: 1.5rem 2.5rem 0.5rem;
}

.questionnaire__card:last-child {
  border: 0;
}

.questionnaire__card--disabled {
  pointer-events: none;
  position: relative;
}

.questionnaire__card--disabled::before {
  background-color: #333;
  bottom: -1px;
  content: " ";
  display: block;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  right: -1px;
  top: -1px;
}

.questionnaire__card--disabled > .questionnaire__head {
  color:#a7ada9;
}

.questionnaire__head {
  border-bottom: 1px solid #d0d0d0;
  color: #653294;
  margin-bottom: calc(1.5rem - 1px);
}

.questionnaire__question {
  font-weight: 500;
  color: #2a3753;
}

.questionnaire__description {
  color: #7d8497;
}

.questionnaire__submit {
  background-color: #a83676;
  border-color: #7d315a;
}

.questionnaire__submit:hover,
.questionnaire__submit:focus {
  background-color: #f7008b;
}

@media (min-width: 768px) {
  .questionnaire {
    display: flex;
    justify-content: center;
  }

  .questionnaire__card {
    border: 1px solid #eaeaea;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(50, 50, 50, 0.75);
    margin-top: calc(6rem - 1px);
    padding: 3rem 5rem 1.5rem;
    width: 42rem;
  }
}

@media (min-width: 1200px) {
  .questionnaire__card {
    margin: 1.5rem 0;
  }
}
