/**
 * Scaffold
 */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

figure {
  margin: 0 0 1.5rem;
}

img {
  vertical-align: middle;
}

.img--responsive {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  body {
    background-attachment: fixed;
    background-image: url("../img/road.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 125%;
  }
}

/**
 * Typography
 */

h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  margin: 1rem 0 0 0;
}

h2 > strong {
  font-weight: 600;
}

p {
  margin: 0 0 1.5rem;
}

/**
 * Forms
 */

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: 500;
  margin: 0 0 1rem;
}

label.is-required::after {
  content: "*";
  color: #940000;
  float: right;
  font-weight: 700;
}

p.is-required {
  color: #940000;
  font-weight: 700;
}

input[type="email"],
input[type="text"],
select,
textarea {
  background-color: #fff;
  background-image: none;
  border: 0;
  border-bottom: 4px solid #653294;
  box-shadow: none;
  color: #777;
  display: block;
  font-size: 1rem;
  padding: 0.4rem 0.5rem;
  transition: border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
  width: 100%;
}

input[type="email"]:hover,
input[type="text"]:hover,
textarea:hover {
  border-color: #a587c1;
}

input[type="email"]:focus,
input[type="text"]:focus,
textarea:focus {
  border-color: $action-color;
  box-shadow: $form-box-shadow-focus;
  outline: none;
  border-color: #a587c1;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(165, 135, 193, 0.6);
  outline: 0;
}

select {
  border: 1px solid #653294;
  padding: calc(0.5rem + 1px);
}

textarea {
  height: 7.5rem;
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}

.form-row {
  margin-bottom: 2rem;
}

.form-row--button {
  padding-top: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  label.is-required::after {
    content: "Required";
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  p.is-required {
    display: none;
  }
}

/**
 * Buttons
 */

.button {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: #8e63cc;
  border: 1px solid #6e539d;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 4rem;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover,
.button:focus {
  background-color: #a587c1;
  color: #fff;
}

/**
 * Questionnaire
 */

.questionnaire__card {
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  padding: 1.5rem 2.5rem 0.5rem;
}

.questionnaire__card:last-child {
  border: 0;
}

.questionnaire__card--disabled {
  pointer-events: none;
  position: relative;
}

.questionnaire__card--disabled::before {
  background-color: #333;
  bottom: -1px;
  content: " ";
  display: block;
  left: -1px;
  opacity: 0.5;
  position: absolute;
  right: -1px;
  top: -1px;
}

.questionnaire__head {
  border-bottom: 1px solid #d0d0d0;
  color: #653294;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .questionnaire {
    display: flex;
    justify-content: center;
  }

  .questionnaire__card {
    border: 1px solid #eaeaea;
    border-radius: 0.25rem;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.75);
    margin: 6rem 0;
    padding: 3rem 5rem 1rem;
    width: 42rem;
  }
}

@media (min-width: 1200px) {
  .questionnaire__card {
    margin: 1.5rem 0;
  }
}




/* Specific CSS rulesets */

.alt-questionnaire {
    position:relative;
    margin: 130px auto;
    width: 50%;
}

.alt-questionnaire__card {
    margin: 130px 0;
    padding: 30px 80px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alt-questionnaire__card--disabled {
    pointer-events: none;
    opacity: 0.5;
}

.alt-questionnaire__card__title {
    font-weight: 300;
    color: #6432A5;
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #D0D0D0;
}

.alt-questionnaire__card__title--disabled {
    color: #C0C0C0;
}

.alt-questionnaire__card__title--strong {
    font-weight:700;
}

.alt-questionnaire__card__question {
    display: block;
    font-weight:700;
    font-size: 1.1em;
    margin-top: 30px;
}

.alt-questionnaire__card__question--required::before {
    content: "REQUIRED";
    color: #880429;
    font-size:0.8em;
    float: right;
}

.alt-questionnaire__card__question--required input {
    color: #A7ADA9;
}

.alt-questionnaire__card__short-answer, .alt-questionnaire__card__long-answer {
    width: 97%;
    margin: 15px 0;
    padding: 10px 10px;
    border: 0px;
    border-bottom: 3px solid #6631A7;
    font-size: 1.1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.alt-questionnaire__card__long-answer {
    height: 130px;
}

.alt-questionnaire__card__button {
    display: block;
    width: 40%;
    padding: 15px 15px!important;
    color: #FFF;
    font-size: 0.9em;
    margin: 25px auto!important;
    border: 2px solid #6F5390!important;
    background-color: #8F5FCF;
}

.alt-questionnaire__card__button:hover {
    background-color: #5F6ECF;
}

.alt-questionnaire__card__submit {
    margin-top: 40px!important;
    background-color: #AA3377;
}

.alt-questionnaire__card__submit:hover {
    background-color: #60BCCA;
}

.alt-questionnaire__card__description {
    overflow: hidden;
    color: #83859A;
}

.alt-questionnaire__card__description img {
    padding-top: 25px;
}

.alt-questionnaire__card__multiple-choice {
    margin-top: 30px;
}

.alt-questionnaire__card__multiple-choice label {
    display: block;
}

.alt-questionnaire__card__multiple-choice input {
    margin-bottom: 20px;
    margin-right: 10px;
}

.alt-questionnaire__card__dropdown {
    width: 100%;
    font-size: 1.1em;
}
